<body>
  <header>Radio Collar </header>
  <div id="wrapper">
    
    <nav></nav>
    <section id="content"><form id="sessionCreate">
<div><input type="text" id="email" placeholder="User ID" tabindex="2" name="userID" maxlength="255"></div>
<div><input type="password" placeholder="Password" tabindex="3" class="password hide" id="password" name="password" maxlength="32"></div>
<div><a href="#" id="go" class="btn-wide">Login now.</a></div></form></section>

    
  </div>
  <footer></footer>

</body>